<div class="container">
  <div class="upper-data">
    <img src="../assets/day.png" alt="day-image" />
    <!-- <img src="../assets/night.png" alt="night-image" /> -->

    <div class="weather-data">
      <div class="location">Kraków</div>
      <div class="temperature">{{ 14.4 | number: "1.0-0" }}°C</div>
    </div>
  </div>
  <div class="lower-data">
    <div class="more-info-label">More Inforamtion</div>

    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/temp.png" alt="temperature" />
          <span>temp</span>
        </div>
        <div class="info-block-value">10°C</div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/pressure.png" alt="pressure" />
          <span>pressure</span>
        </div>
        <div class="info-block-value">1014<br />hPa</div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/humidity.png" alt="humidity" />
          <span>humidity</span>
        </div>
        <div class="info-block-value">84%</div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/wind.png" alt="wind" />
          <span>wind</span>
        </div>
        <div class="info-block-value">70<br />km/h</div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
